    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background:black;
}
.container {
    display: flex;
    flex-direction: column;
    min-height: 100px;
    gap: 10px;
    padding: 10px;
}
.header {
    height: 80px;
    background: #6598f0;
}
.footer {
    height: 60px;
    background: #dc5da3;
}
.main {
    flex: 1;
    display: flex;
    gap: 10px;
}

.sidebar {
    width: 250px;
    background: #e979eb;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.content1 {
    height: 150px;
    background: #3f5cef;
}

.content-row {
    display: flex;
    gap: 10px;
}

.content2,
.content3 {
    flex: 1;
    height: 150px;
}

.content2 {
    background: #00b4d8;
}

.content3 {
    background: #c5d8df;
}
@media (max-width: 1200px) {
    .container {
        padding: 20px;
    }
    .main {
        flex-direction: column;
    }
}