* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #f2f2f2;
  padding: 20px;
}
section {
  min-height: 100px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}
.top {
  min-height: 80px;
  background: #ff5aa5;
}
.new {
  display: flex;
  gap: 10px;   
}
.left {
  flex: 2;
  min-height: 300px;
  background: #a04276;
}
.right {
  flex: 1;
  min-height: 300px;
  background: #f38df3;
}
.bottom {
  min-height: 60px;
  background: #4d96ff;
}
@media(max-width:1350px){
  .new {
    flex-direction: column;
    flex-wrap: wrap;
  }
}



